::selection {
	background: #9b77b99c;
	color: rgb(49, 49, 49);
  border-radius: 10px;
}

.music {
  align-items: center;
  justify-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.cover {
  display: inline-block;
  width: 30%;
  height: 30%;
  margin: auto;
  padding: 5px;
  vertical-align: middle;

}
.item {
  align-content: left;
  display: flex;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  max-width: 400px;
  height: 50%;
  color: #1e262c;
  background: #ffffff30;
  text-align: left;
  font-family: sans-serif;
  text-decoration: none;
  overflow: hidden;
  transition: 0.1s ease-out;
  border: none;
}

.text h2 {
  margin: 0px;
}
.text p {
  margin: 1px;
  font-size: 15px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  overflow: hidden;
  text-overflow: ellipsis;

}
.text {
  max-width:70%;
}
.head {
  margin-bottom: 1%;
  border-radius: 10px;
  padding: 1%;
  font-size: 18px;
  color: #1e262c;
  background: #ffffff30;
  text-align: left;
  font-family: sans-serif;
  text-decoration: none;
  transition: 0.1s ease-out;
  border: none;
}
