body, html {
    padding: 25px;
    margin:0 auto;
    max-width: 1400px;
    align-items: center;
}

.background-container {
    position: fixed;
    top: -5%;
    left: -10%;
    width: 120%;
    height: 120%;
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 200px; 
}
.main {
    border-radius: 10px;
    position: relative;
    font-size: 18px;
    padding: 10px;
    color: #13181b;
    background: #ffffff50;
    text-align: center;
    font-family: sans-serif;
    white-space: pre-line;
    margin-bottom: 20%;
}
.blurred::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    backdrop-filter: blur(10px); /* apply the blur */
    pointer-events: none; /* make the overlay click-through */
    margin-bottom: 10px;
  }
  
